body {
  background-color: #dd4040;
  color: #0f0f0f;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
}

/* get rid of bullet-point */
ul.pokemon-list {
  list-style-type: none;
}

span {
  font-weight: bold;
}
